.player {
  padding: 0.5rem;
  display: grid;
  grid-template-areas:
    "name count"
    "play play";
  grid-template-columns: 1fr auto;
  grid-template-rows: auto;

  .name {
    grid-area: name;
    margin: 0;
  }

  .player-play {
    grid-area: play;
  }
}
